<body class="monniitor_body">

  <h1>МОНИТОРЫ</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @moniitors.each do |moniitor| %>
        <tr>
          <td><%= moniitor.title %></td>
          <td><%= link_to 'Show', moniitor %></td>
          <td><%= link_to 'Edit', edit_moniitor_path(moniitor) %></td>
          <td><%= link_to 'Destroy', moniitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Moniitor', new_moniitor_path %>

</body>
