  <%= render 'layouts/application', topic: @topic %>

  <body class="body_welcome">

  <div class="fon"><%= image_tag ("fon.png") %></div>

  <section class="waves">
    <div class="waves_scroll">
      <% @topics.each do |topic| %>
      <div class="waves_title">
        <%= topic.title %>
      </div>
      <% end %>
    </div>
  </section>

  <section class="events">

    <div class="events_zagolovok">
      <h1>СОБЫТИЯ</h1>
    </div>

    <div class="events_scroll">
      <% @events.each do |event| %>
        <div class="event_card">

          <%= link_to event do %>
            <div class="event_card_otkr"></div>
          <% end %>

          <div class="event_card_zatemnenie"></div>

          <div class="event_card_image <%= 'event_card_withImage' if event.image.try(:url) %><%= 'event_card_withoutImage' unless event.image.try(:url) %>">
            <%= image_tag event.image.url width: 300 if event.image.url != nil %>
          </div>

          <div class="event_card_topic">
            <%= Topic.find(event.topic_id).title %>
          </div>

          <div class="event_card_niz">
            <div class="event_card_title">
              <%= event.title %>
            </div>
            <div class="event_card_date">
              <%= event.date %>
            </div>
            <div class="event_card_time">
              <%= event.time %>
            </div>
            <div class="event_card_place">
              <%= event.place %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </section>





  <section class="posts">

    <div class="posts_zagolovok">
      <h1>ПОСТЫ</h1>
    </div>

    <!-- <div class="posts_zagolovok">
      <h1>ПОСТЫ</h1>
    </div> -->

    <div class="posts_lenta">
      <% @posts.each do |post| %>
        <div class="posts_posts">

          <%= link_to post do %>
            <div class="post_post_otkr"></div>
          <% end %>

          <div class="post_post_zatemnenie"></div>

          <div class="posts_posts_image">
            <div class="posts_posts_withoutImage">
              <%= image_tag post.stories.first.image.url if post.stories.present? && post.stories.first.image.url.present? %>
            </div>
          </div>

          <div class="posts_posts_zagolovok">
            <!-- <div class="posts_posts_topic_title">
              <%= Topic.find(post.topic_id).title %>
            </div> -->

            <div class="posts_posts_event_title">
              <%= Event.find(post.event_id).title %>
            </div>
          </div>

          <div class="posts_posts_opisanie">

            <div class="posts_posts_teaser">
              <%= post.stories.first.teaser if post.stories.present? %>
            </div>

            <div class="posts_posts_teaser_two">
              <%= post.stories.first.teaser_two if post.stories.present? %>
            </div>

          </div>

          <%#= link_to 'Show', post %>
          <%#= link_to 'Edit', edit_post_path(post) %>
          <%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>

    <%#= link_to 'New Post', new_post_path %>

  </section>




</body>
