<body class="landing">

  <section class="landing_menu">

    <div class="landing_menu_menu">
      <div class="landing_menu_logo_monitor"><%= image_tag 'logo_monitor.png' %>
      </div>
      <div class="landing_menu_logo_X">Х</div>
      <div class="landing_menu_logo">
        <%= link_to welcome_index_url do %>
          <%= image_tag 'logo.png' %>
        <% end %>
      </div>
    </div>

  </section>

  <section class="landing_hello">

    <div class="landing_hello_one">

      <div class="landing_hello_one_text">СИСТЕМА</div>
      <div class="landing_hello_one_eye"><%= image_tag ("eyee.png") %></div>

    </div>

    <div class="landing_hello_two">

      <div class="landing_hello_two_text">МОНИТО –</div>

    </div>

    <div class="landing_hello_three">

      <div class="landing_hello_three_eye"><%= image_tag ("eye.png") %></div>
      <div class="landing_hello_three_text">РИНГА</div>

    </div>

    <div class="landing_hello_four">

      <div class="landing_hello_four_text">ОНЛАЙН –</div>
      <div class="landing_hello_four_eye"><%= image_tag ("eye.png") %></div>

    </div>

    <div class="landing_hello_five">

      <div class="landing_hello_five_eye"><%= image_tag ("eyee.png") %></div>
      <div class="landing_hello_five_text">СРЕДЫ</div>

    </div>

  </section>






  <section class="landing_opisanie">

    <div class="landing_opisanie_one">
      <div class="landing_opisanie_one_str"><%= image_tag ("str2.png") %></div>
      <div class="landing_opisanie_one_im"><%= image_tag ("one.jpg") %></div>
      <div class="landing_opisanie_one_text">
        <div class="landing_opisanie_one_text_zag">ВЫБИРАЙ</div>
        <div class="landing_opisanie_one_text_op">Технология позволяет одновременно мониторить различные социальные сети, например: Instagram, Twitter, Facebook, ВКонтакте, YouTube, Одноклассники. Мониторинг осуществляется по персональному пулу источников, сформированному за счет подписки на аккаунты пользователей, хештеги, группы, сообщества, мероприятия, каналы.</div>
      </div>

    </div>

    <div class="landing_opisanie_two">
      <div class="landing_opisanie_two_text">
        <div class="landing_opisanie_two_text_zag">МОНИТОРЬ</div>
        <div class="landing_opisanie_two_text_op">Актуальный контент, который представляет из себя фотографии, видео, истории, посты, ссылки в режиме реального времени выгружается и сохраняется в ранее созданную тему, приуроченной к некому событию или инфоповоду. </div>
      </div>
      <div class="landing_opisanie_two_im"><%= image_tag ("two.jpg") %></div>
      <div class="landing_opisanie_two_str"><%= image_tag ("str2.png") %></div>
    </div>

    <div class="landing_opisanie_three">
      <div class="landing_opisanie_three_str"><%= image_tag ("str2.png") %></div>
      <div class="landing_opisanie_three_im"><%= image_tag ("three.jpg") %></div>
      <div class="landing_opisanie_three_text">
        <div class="landing_opisanie_three_text_zag">ИНТЕГРИРУЙ</div>
        <div class="landing_opisanie_three_text_op">Полученный контент, с сылкой на источник, можно атоматичски встраивать в структуру статьи.</div>
      </div>

    </div>
  </section>






  <section class="landing_yo">

    <div class="landing_yo_one">
      <div class="landing_yo_one_text">НАБЛЮ –</div>
    </div>

    <div class="landing_yo_two">
      <div class="landing_yo_two_str"><%= image_tag ("str.png") %></div>
      <div class="landing_yo_two_text_text">Это незаменимый инструмент для редакторов и авторов, который позволяет увеличить добавленную стоимость новостям и статьям. </div>
      <div class="landing_yo_two_text">ДАЙ</div>
    </div>

    <div class="landing_yo_three">
      <div class="landing_yo_three_text">ЗА</div>
      <div class="landing_yo_three_str"><%= image_tag ("str.png") %></div>
      <div class="landing_yo_three_text_text">Технология помогает наиболее интересно рассказывать об актуальных событиях, сопровождая их фотографиями, видео  и мнениями очевидцев, придавая материалу максимальную сюжетность и наглядность, а также помогает оперативно обрабатывать релевантный инфоповод.</div>
    </div>

    <div class="landing_yo_four">
      <div class="landing_yo_four_text">ЮЗЕРАМИ</div>
    </div>

    <div class="landing_yo_five">
      <div class="landing_yo_five_str"><%= image_tag ("str.png") %></div>
      <div class="landing_yo_five_text_text">Технология позволяет одновременно следить за разными социальными сетями в прямом режиме, оперативно получать и извлекать пользовательский контент.</div>
      <div class="landing_yo_five_text">СОЦ.</div>
    </div>

    <div class="landing_yo_six">
      <div class="landing_yo_six_text">CЕТЕЙ</div>
    </div>

  </section>



</body>
